title-box h1 {
  font-size: 2.5rem;
}

.items {
  padding: 1px 10px;
}

.items a {
  font-size: 1.7rem;
}

.food-services-box {
  display: flex;
  flex-wrap: wrap;
}

.services h2 {
  display: flex;
}

.client-box {
  flex-wrap: wrap;
}
