.box1{
    background-color: grey;
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 320px;
    height: 180px;
}
.box{
    position: relative;
    top: -9px;
    left: -9px;
    
}
.box2{
    background-color: black;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 11px;
    padding-right: 11px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 500;
   
    border-radius: 30px;
}
.time{
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 7px;
    padding-right: 7px;
    background-color: black;
    color: white;
}